<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/initial-page-load.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script defer src="/scripts/index.js"></script>
  <script src="/scripts/permission_elements.js"></script>
</head>

<body>
  <!-- OMNIPRESENT NAV BAR, POSITION FIXED -->
  <nav class="navbar">
    <span class="logo">
      <img src="/images/logo.png" alt="SMART TODO">
    </span>
    <div class="login">
      <button onclick="showElement()">Please Login</button>
    </div>
  </nav>

  <!-- ON INITIAL PAGE LOAD OR VISIT, EVERYTHING BELOW THIS IS HIDDEN -->
  <div class="initial-page-load">
    <div class="intro-image"><img src="images/intro.png" alt="intro logo"></div>
    <div class="intro-message">
      <p>You can organize your TODO LIST</p>
      <p>with SMART TODO's auto categorize</p>
      <p>Using SMART TODO after login</p>
    </div>
  </div>

  <div class="wrapper"><!-- WRAPPER DIV HIDES CONTENTS ON WHEN NOT LOGIN  -->
    <!-- NEW TODO SUBMISSION BOX, TO BE HIDDEN FOR NON USER -->
    <header>
      <form id="new-task-form">
        <p>Add whatever you want to do. We will help you to categorize it</p>
        <textarea name="text" id="task" for="task" placeholder="..."></textarea>
        <div class="add-button">
          <button id="add-todo" type="submit">ADD TODO</button>
        </div>
      </form>
    </header>

    <!-- DYNAMIC LISTS -->
    <main>
      <section id="lists">
        <section class="eat">
          <button type="button" class="collapsible"><img src="/images/eat.png" alt="TO EAT"></button>
          <div class="todo-list">
          </div>
        </section>
        <section class="watch">
          <button type="button" class="collapsible"><img src="/images/watch.png" alt="TO WATCH"></button>
          <div class="todo-list">
          </div>
        </section>
        <section class="buy">
          <button type="button" class="collapsible"><img src="/images/buy.png" alt="TO BUY"></button>
          <div class="todo-list">
          </div>
        </section>
        <section class="read">
          <button type="button" class="collapsible"><img src="/images/read.png" alt="TO READ "></button>
          <div class="todo-list">
          </div>
        </section>
      </section>
    </main>
  </div> <!-- END OF WRAPPER DIV -->
  <footer>
    <p>THIS SITE IS CREATED BY BROOKE, MONICA, and TAEHEE</p>
  </footer>
</body>

</html>
