// This is the .scss for initial page load when WELCOME TO SMART TODO is the only thing showing when not login.
.initial-page-load{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #353a3d;
  padding-bottom: 20%;
  text-align: center;
}


@media only screen and (max-width: 600px) {

  .initial-page-load {
    padding-bottom: 40%;
  }

  .intro-image {
    display: flex;
    justify-content: center;

  }

  img {
    width: 80%;
  }

  .intro-message p {
    font-size: 14px;
  }
}



// .wrapper {
//   display: none;
// }
