body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: F2F4F1;
}

//Everything below: set display to none when JS file created, to hide from non-logged in users
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 340px;
  width: 100%;
  background-color: #dfe4de;

  .add-button {
    margin: auto;
    font-size: 16px;
    padding: 10px;
  };

  button {
    padding: 10px 20px;
    background-color: #dfe4de;
    color: #353a3d;
  }

  #new-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 60px;
  };

  #task {
    text-align: center;
    padding-top: 20px;
  };

  textarea {
    height: 50px;
    background-color: #eff1ee;
    resize: none;
    text-decoration: #353a3d
  };

};

main {
  .collapsible {
    background-color: #425c59;
    color: #eff1ee;
    padding: 10px;
  };

  //Below addresses secion for right hand side elements (tally of items, etc) on collapsible button
  // .collapsible:after {

  // };

  .todo-list {
    color: #454444;
    background-color: #f2f4f1;
    font-size: 18px;
    padding: 0 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  };

  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  };

};
