nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  background-color: #425c59;
  padding: 15px 20px;

  .logo {
    color: #eac39d;
  }

  .login {
    padding-top: 15px;
  }

};


